#### Exam

https://courses.thinkful.com/dsbc-sql-exam-v1/checkpoint/1

* Host: 142.93.121.174
* Username: dsbc_student
* Password: 7*.8G9QH21
* Port: 5432

Table: department_of_education database

##### Data exploration

1. Write a query that allows you to inspect the schema of the naep table.

In [ ]:
SELECT column_name,data_type 
FROM information_schema.columns 
WHERE table_name = 'naep';

7 rows

"avg_math_4_score"	    "numeric"
"avg_math_8_score"	    "numeric"
"avg_reading_4_score"	"numeric"
"avg_reading_8_score"	"numeric"
"id"	                "character varying"
"state"	                "character varying"
"year"	                "integer"