### Drills

https://courses.thinkful.com/dsbc-sql-foundations-3-v1/checkpoint/6


* Database: The name of the database is baseball.

- hof_inducted: This table consists of the voting results for all candidates inducted into the Baseball Hall of Fame.
- hof_not_inducted: This table consists of the voting results for all candidates nominated for, but not inducted into, the Baseball Hall of Fame.
- people: This table consists of personal and biographical details of every player that appears in either the hof_inducted table or the hof_not_inducted table. A unique “playerid” field is assigned to each player.
- salaries: This table has player salary data since 1985.

* connection

- Host: 142.93.121.174
- Username: dsbc_student
- Password: 7*.8G9QH21
- Port: 5432

In [2]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

In [3]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'baseball'

In [4]:
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [5]:
# Draw a schema of the relationship between the people, salaries, and hof_inducted tables.
sql = '''
select 
    * 
from 
    people
'''
people_columns = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

people_columns.keys()

['playerid',
 'birthyear',
 'birthcountry',
 'deathyear',
 'namefirst',
 'namelast',
 'weight',
 'height',
 'bats',
 'throws']

In [20]:
sql = '''
select 
    * 
from 
    salaries
'''
salaries_columns = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

salaries_columns.keys()

['yearid', 'teamid', 'lgid', 'playerid', 'salary']

In [9]:
# hof_inducted

sql = '''
select 
    * 
from 
    hof_inducted
'''
hof_inducted_columns = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

hof_inducted_columns.keys()

['playerid',
 'yearid',
 'votedby',
 'ballots',
 'needed',
 'votes',
 'inducted',
 'category',
 'needed_note']

Write a query that returns the namefirst and namelast fields of the people table, along with the inducted field from the hof_inducted table. 

All rows from the people table should be returned, and NULL values for the fields from hof_inducted should be returned when there is no match found.

In [10]:
sql = '''
select 
    namefirst, namelast, inducted 
from 
    people LEFT OUTER JOIN hof_inducted
ON people.playerid = hof_inducted.playerid;

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()

['namefirst', 'namelast', 'inducted']

In 2006, a special Baseball Hall of Fame induction was conducted for players from the negro baseball leagues of the 20th century. In that induction, 17 players were posthumously inducted into the Baseball Hall of Fame. Write a query that returns the first and last names, birth and death dates, and birth countries for these players. Note that the year of induction was 2006, and the value for votedby will be “Negro League.”

select 
    namefirst, namelast, birthyear, deathyear, birthcountry 
from 
    people INNER JOIN hof_inducted
ON people.playerid = hof_inducted.playerid
where votedby = 'Negro League'
AND yearid = 2006

17 rows

"Ray"	"Brown"	1908	1965	"USA"
"Willard"	"Brown"	1915	1996	"USA"
"Andy"	"Cooper"	1898	1941	"USA"
"Frank"	"Grant"	1865	1937	"USA"
"Pete"	"Hill"	1882	1951	"USA"
"Biz"	"Mackey"	1897	1965	"USA"
"Effa"	"Manley"	1897	1981	"USA"
"Jose"	"Mendez"	1885	1928	"Cuba"
"Alex"	"Pompez"	1890	1974	"USA"
"Cum"	"Posey"	1890	1946	"USA"
"Louis"	"Santop"	1889	1942	"USA"
"Mule"	"Suttles"	1901	1966	"USA"
"Ben"	"Taylor"	1888	1953	"USA"
"Cristobal"	"Torriente"	1893	1938	"Cuba"
"Sol"	"White"	1868	1955	"USA"
"J. L."	"Wilkinson"	1878	1964	"USA"
"Jud"	"Wilson"	1896	1963	"USA"


The answer has it with OUTER JOIN - not sure why...

SELECT birthyear, deathyear, birthcountry, namefirst, namelast
FROM people LEFT OUTER JOIN hof_inducted
ON people.playerid = hof_inducted.playerid
WHERE yearid = 2006 AND votedby = 'Negro League';

In [11]:
sql = '''
select 
    namefirst, namelast, birthyear, deathyear, birthcountry 
from 
    people INNER JOIN hof_inducted
ON people.playerid = hof_inducted.playerid
where votedby = 'Negro League'
AND yearid = 2006

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()

['namefirst', 'namelast', 'birthyear', 'deathyear', 'birthcountry']

Write a query that returns the yearid, playerid, teamid, and salary fields from the salaries table, along with the category field from the hof_inducted table. Keep only the records that are in both salaries and hof_inducted. Hint: While a field named yearid is found in both tables, don’t JOIN by it. You must, however, explicitly name which field to include.


select 
	salaries.yearid, salaries.playerid, teamid, salary, category
from 
    salaries INNER JOIN hof_inducted
ON salaries.playerid = hof_inducted.playerid


621 rows

In [19]:
sql = '''
select 
    salaries.yearid, salaries.playerid, teamid, salary, category
from 
    salaries INNER JOIN hof_inducted
ON salaries.playerid = hof_inducted.playerid

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()

['yearid', 'playerid', 'teamid', 'salary', 'category']

Write a query that returns the playerid, yearid, teamid, lgid, and salary fields from the salaries table and the inducted field from the hof_inducted table. Keep all records from both tables.

select 
    salaries.playerid, salaries.yearid, teamid, lgid, salary, inducted
from 
    salaries FULL OUTER JOIN hof_inducted
ON salaries.playerid = hof_inducted.playerid

26701 rows

In [18]:
sql = '''
select 
    salaries.playerid, salaries.yearid, teamid, lgid, salary, inducted
from 
    salaries FULL OUTER JOIN hof_inducted
ON salaries.playerid = hof_inducted.playerid

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()

['playerid', 'yearid', 'teamid', 'lgid', 'salary', 'inducted']

There are 2 tables, hof_inducted and hof_not_inducted, indicating successful and unsuccessful inductions into the Baseball Hall of Fame, respectively.

Combine these 2 tables by all fields. Keep all records.

Get a distinct list of all player IDs for players who have been put up for HOF induction.


select 
    *
from 
    hof_inducted FULL OUTER JOIN hof_not_inducted
ON hof_inducted.playerid = hof_not_inducted.playerid


4007 rows



select 
    distinct hof_inducted.playerid, hof_inducted.inducted
from 
    hof_inducted FULL OUTER JOIN hof_not_inducted
ON hof_inducted.playerid = hof_not_inducted.playerid
Where hof_inducted.inducted = 'Y'

323 rows




select 
     distinct playerid, inducted
from 
    hof_inducted 
Where inducted = 'Y'


323 rows

In [22]:
# Combine these 2 tables by all fields. Keep all records.

sql = '''
select 
    *
from 
    hof_inducted FULL OUTER JOIN hof_not_inducted
ON hof_inducted.playerid = hof_not_inducted.playerid

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()

['playerid',
 'yearid',
 'votedby',
 'ballots',
 'needed',
 'votes',
 'inducted',
 'category',
 'needed_note',
 'playerid',
 'yearid',
 'votedby',
 'ballots',
 'needed',
 'votes',
 'inducted',
 'category',
 'needed_note']

In [23]:
# Get a distinct list of all player IDs for players who have been put up for HOF induction.

sql = '''
select 
     distinct playerid, inducted
from 
    hof_inducted 
Where inducted = 'Y'

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()

['playerid', 'inducted']

Write a query that returns the last name, first name (see people table), and total recorded salaries for all players found in the salaries table.


select 
    people.namefirst, people.namelast, salary
from 
    salaries INNER JOIN people
ON salaries.playerid = people.playerid

26428 rows

In [24]:
sql = '''
select 
    people.namefirst, people.namelast, salary
from 
    salaries INNER JOIN people
ON salaries.playerid = people.playerid

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()

['namefirst', 'namelast', 'salary']

Write a query that returns all records from the hof_inducted and hof_not_inducted tables that include playerid, yearid, namefirst, and namelast. Hint: Each FROM statement will include a LEFT OUTER JOIN!



select 
    people.playerid, hof_inducted.yearid, people.namefirst, people.namelast 
from 
    People LEFT OUTER JOIN hof_inducted
ON People.playerid = hof_inducted.playerid
LEFT OUTER JOIN hof_not_inducted
ON hof_inducted.playerid = hof_not_inducted.playerid


20606 rows



select 
    people.playerid, hof_inducted.yearid, people.namefirst, people.namelast 
from 
    People LEFT OUTER JOIN hof_inducted
ON People.playerid = hof_inducted.playerid
LEFT OUTER JOIN hof_not_inducted
ON hof_inducted.yearid = hof_not_inducted.yearid


35104

In [ ]:
sql = '''
select 
    people.playerid, hof_inducted.yearid, people.namefirst, people.namelast 
from 
    People LEFT OUTER JOIN hof_inducted
ON People.playerid = hof_inducted.playerid
LEFT OUTER JOIN hof_not_inducted
ON hof_inducted.playerid = hof_not_inducted.playerid

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()

Return a table including all records from both hof_inducted and hof_not_inducted, and include a new field, namefull, which is formatted as namelast , namefirst (in other words, the last name, followed by a comma, then a space, then the first name). 

The query should also return the yearid and inducted fields. Include only records since 1980 from both tables. Sort the resulting table by yearid, then inducted so that Y comes before N. Finally, sort by the namefull field, A to Z.

Write a query that returns the highest annual salary for each teamid, ranked from high to low, along with the corresponding playerid. Bonus! Return namelast and namefirst in the resulting table. (You can find these in the people table.)





select teamid, max(salary) as max_salary, playerid, people.namelast, people.namefirst 
    from salaries JOIN people
    ON salaries.playerid = people.playerid
where yearid >2010
    Group by teamid, playerid
    order by max_salary DESC
    
    
select teamid, max(salary) as max_salary, salaries.playerid, people.namelast, people.namefirst 
    from salaries JOIN people
    ON salaries.playerid = people.playerid
where yearid >2010
    Group by salaries.teamid, salaries.playerid
    order by max_salary DESC

Select birthyear, deathyear, namefirst, and namelast of all the players born since the birth year of Babe Ruth (playerid = ruthba01). Sort the results by birth year from low to high.

Using the people table, write a query that returns namefirst, namelast, and a field called usaborn where. The usaborn field should show the following: if the player's birthcountry is the USA, then the record is 'USA.' Otherwise, it's 'non-USA.' Order the results by 'non-USA' records first.

Calculate the average height for players throwing with their right hand versus their left hand. Name these fields right_height and left_height, respectively.


SELECT 
AVG(CASE WHEN throws = 'R' THEN height END) AS right_height,
AVG(CASE WHEN throws = 'L' THEN height END) AS left_height
FROM people;

            Right            left
"72.3172024506092104"	"72.5530219780219780"

In [6]:
sql = '''
SELECT 
AVG(CASE WHEN throws = 'R' THEN height END) AS right_height,
AVG(CASE WHEN throws = 'L' THEN height END) AS left_height
FROM people;

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()

['right_height', 'left_height']

Get the average of each team's maximum player salary since 2010. Hint: WHERE will go inside your CTE.

* each team's maximum player salary since 2010

select teamid, max(salary) 
    from salaries
where yearid >2010
    Group by teamid
    
31 rows


with max_sal AS

(select teamid, max(salary) as max_salary 
    from salaries
where yearid >2010
    Group by teamid)

select Avg(max_salary)
    from max_sal
    
    
"21746725.129032258065"

In [ ]:
sql = '''
with max_sal AS

(select teamid, max(salary) as max_salary 
    from salaries
where yearid >2010
    Group by teamid)

select Avg(max_salary)
    from max_sal

'''

results = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

results.keys()